table {
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 0 auto;
    min-width: 20rem;
    width: 50rem;
}

th,
td {
    text-align: center;
}

td{
    padding: 1rem 3rem;
    max-width: 20rem;
    word-wrap: break-word;
}

td:first-child {
    padding-left: 2rem;
}

td:last-child {
    padding-right: 2rem;
}

td input {
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
    text-align: center;
    border: none;
    cursor: text;
}

td input:focus {
    box-shadow: inset 0 0 .1rem .1rem #8257e5;
}

tr:nth-child(even) {
    background: var(--global-background);
}

tr:first-child th {
    background: #8257e5;
    color: var(--global-background);
}

.fa-pen {
    color: var(--add-color);
}

.fa-trash {
    color: var(--warning-color);
}