table {
    border-collapse: collapse;
    width: 30rem;
    font-size: 1.6rem;
    margin: 0 auto;
}

th,
td { 
    text-align: center;
    padding: 1rem;
    border: .2rem solid var(--global-background);
}

tr:nth-child(even){
    border:none;
}

.fa-pen{
    color: var(--add-color);
}
.fa-trash{
    color: var(--warning-color);
}
