table {
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 0 auto;
    min-width: 20rem;
    width: 60rem;
}

th,
td { 
    text-align: center;
    padding: 1rem;
}

td input{
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
    text-align: center;
}

tr:nth-child(odd){
    background: var(--global-background);
}

tr:first-child th{
    background: var(--add-color);
    color: var(--global-background);
}

.fa-pen{
    color: var(--add-color);
}
.fa-trash{
    color: var(--warning-color);
}
