@media only screen and (max-width: 769px) {
    .wrapper .menu-btn-container {
        display: none;
    }

    .menu-mobile-btn{
        visibility: visible;
    }
     .panel-container {
        padding: 0;
    }
    main{
        height: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .modal {
        width: 30rem;
        height: 30rem;
    }
}