:root {
    /* Colors palette */
    --global-background: #22272e;
    --disabled-color: #22272e;
    --add-color: #00b37e;
    --warning-color: #ce4a4a;
    --light-txt: rgb(228, 228, 228);
    --dark-txt: #29292e;
    --menu-active: #2c3138;

    /* Spacing */
    --sm-space: .5rem;
    --md-space: 1rem;
    --lg-space: 1.5rem;
    --xl-space: 2rem;


    /* Font size */
    --sm-font: 1.4rem;
    --md-font: 1.6rem;
    --lg-font: 2rem;
    --xl-font: 2.5rem;


    /* Effects */
    --default-transition: all ease .5s;
}